/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 */
 body {
   background-color: #F2F2F2;
 }


@import "./reset";
@import "./splash";
@import "./nav-bar";
@import "./auth-form";
@import "./stream";
@import "./track-show-page";
@import "./update_edit_form";
@import "./profile_stats";
@import "./edit-profile";
@import "./comment-box";
 /*

Organization of CSS Styling:
1. From Top to Bottom, moving in the order of NavBar, to MainPage, to footer

 */

 /*--Nav Bar-*/


/*--Main Page-*/

#root {

}

.greeting-background {
  background-image: url(https://s3-us-west-2.amazonaws.com/pianocloud-adrianjewell/hero.jpg);
  height: -webkit-fill-available;
}

.main-page {
  margin-left: 2.7%;
  margin-right: 2.7%;
  background-color: white;
  padding-top: 35px;
  padding-bottom: 60px;
  border-radius: 7px;
  min-width: 1000px;
}

.first-span {
  font-size: 30px;
}

button:focus, button:active
  {outline:0;}

.react-modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(192,192,192,0.6);
    z-index: 2;
    transition: background-color 1.5s;
}

.selected {
  background: black;
}

.hidden {
  display: none;
}

/*---*/

@import "react_audio_player";
