/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Reset*/
html body div form ul li a button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5

}

ol ul {
  list-style: none;
}

/*img { width: 100% }*/
 /*

Organization of CSS Styling:
1. From Top to Bottom, moving in the order of NavBar, to MainPage, to footer

 */

 /*--Nav Bar-*/

body {
  background-color: #F2F2F2;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 46px;
  background-color: #333333;
}

.nav-loggedin {
  min-width: 1000px;
  margin-left: 41px;
  margin-right: 41px;
  display: flex;
  justify-content: space-between;
}

.nav-loggedout {
  min-width: 700px;
  margin-left: 41px;
  margin-right: 41px;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  background-color: #333333;
  color: #B0B0B0;
  border-style: none;
  font-size: 14px;
  height: 46px;
  /*border-left: black, solid, 1px;*/
}

.nav-stream {
  position: relative;
  bottom: 18px;
}

.profile-nav-thumbnail {
  padding-top: 11px;
}

a {
  text-decoration: none;
  color: #B0B0B0
}

button:focus {outline:0;}

.nav-button:hover, a:hover {
  color: #FFFFFF;
}

.nav-search-form {
  /*min-width: 100px;*/
}

.nav-search {
  background-color: #E5E5E5;
  width: 521px;
  height: 26px;
  margin-top: 9px;
  border-radius: 5px;
  border-style: none;
  font-size: 13px;
  text-indent: 6px;
  transition: 0.5s;
}

.nav-search:focus {
  background-color: #FFFFFF;
  transition: 0.3s;
}

/*
.fa-search {
  position:relative;
  right: 25px;
  color:#666666;
}*/

@media screen and (max-width: 948px) {
  .nav-search {width: 300px;}
}

/*--Auth Form -*/

.auth-modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 500px;
  height: 500px;
}

.auth-modal:focus {
  outline: 0;
}

.auth-modal button {
  background-color: inherit;
  border-style: none;
  float: right;
  font-size: 22px;
  padding-right: 4px;
}


.auth-form {
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  text-align: center;
}

.auth-form form input {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;

  height: 40px;
  width: 300px;
  font-size: 20px;
  font-weight: lighter;
  margin: 3px;
  text-indent: 10px;
}

.auth-form form .auth-button {
  background-color: #FF5500;
  border-style: none;
  height: 40px;
  width: 304px;
  color: #FFFFFF;
  font-weight: normal;
}

.auth-form form .auth-button:focus {
  outline: 0;
}

.auth-form ul li {
  list-style: none;
  color: red;
}

/*--Main Page-*/

.main-page {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 33px;
  padding-right: 33px;

  margin-left: 33px;
  margin-right: 33px;
}

/*---*/

.footer {
 position: fixed;
 left: 0px;
 bottom: 0px;
 width: 100%;
 display: flex;
 justify-content: space-around;
 background-color: #E5E5E5;
 padding-bottom: 14px;
 padding-top: 14px;
 border-top-style: solid;
 border-color: #CCCCCC;
 border-width: 1px;
}

/*---*/

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
