.comments {
  margin-top: 10px;
  margin-left: 20px;
}

.comment-form {
  display: flex;
  justify-content: flex-start;
  max-width: 557px;
  background: #F2F2F2;
  border: 1px solid #e5e5e5;
}

.comment-form form {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  margin-left: 5px;
}

.comment-form input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #F2F2F2;
  text-indent: 5px;
  font-family: Lucide Grande sans-serif;
  font-size: 15px;
  border: 1px solid #e5e5e5;
}

.comment-form-pic-frame {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
}

.comment-form-pic {
  height: 100%;
  width: auto;
  max-width: 40px;
}

.comment-img-frame {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.comment-img-pic {
  height:100%;
  width: auto;
  max-width: 40px;
  border-radius: 50%;
}

.comment-li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.commentor-stats {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 5px;
}

.commentor-stats a {
  text-decoration: none;
  color: gray;
}

.commentor-stats a:hover {
  color: black;
}

.commentor-stats span {
  position: relative;
  bottom: 6px;
}
