.edit-modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  transform: translate(-50%, -50%) !important;
  width: 400px;
  height: 500px;
  border-color: none;
  z-index: 1100;
}

.edit-form form {
  display: flex;
  flex-direction: column;
}

.inside-edit-modal  {
  display: flex;
  flex-direction: column;
  margin-left: 40px;

}

.close-edit-modal {
  height: 40px;
  width: 40px;
  float: right;
  position: relative;
  right: 4px;
  top: 4px;
  background: none;
  border: none;
}
