.edit-delete-button, .reply-name, .submit, .form-text, .back-to-page {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin: 1%;
    font-size: 14px;
}

.edit-delete-button:hover, .reply-name:hover, .submit:hover,
.form-text:hover, .back-to-page:hover {
    border-color:#B0B0B0;
}
