// nav bar

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 46px;
  background-color: #333333;
  z-index: 1000;

}


.nav-loggedin {
  min-width: 1000px;
  display: flex;
  justify-content:space-between;
  margin-left: 3.2%;
  margin-right: 3.2%;
}


.nav-loggedout {
  min-width: 1020px;
  display: flex;
  justify-content: space-between;
  margin-left: 3.2%;
  margin-right: 3.2%;
}

.nav-button {
  background-color: #333333;
  color: #B0B0B0;
  border-style: none;
  font-size: 14px;
  height: 46px;
  cursor: pointer;
}

.nav-stream {
  position: relative;
  bottom: 18px;
  padding-left: 20px;
}

.stream-button {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
}

.the-log-out-buttons {
  margin-top: 9px;
}

.profile-nav-thumbnail {
  margin-top: 8px;
  border-radius: 50%;
  height: 100%;
  width: auto;
  max-width: 30px;
}

.profile-nav-thumbnail-frame {
  height:30px;
  width: 30px;

}

.nav-button a {
  text-decoration: none;
  color: #B0B0B0
}

.nav-loggedout .the-log-out-buttons .nav-button {
  height: 26px;
  border: 1px solid #666;
  margin-right: 15px;
  border-radius: 3px;
  color: white;
}

.nav-loggedout .the-log-out-buttons .nav-button:hover {
  border: 1px solid #e5e5e5;
}

.nav-loggedout .the-log-out-buttons .nav-button:last-child {
  background-color: #FD561F;
  border: none;
}

button:focus {outline:0;}

.nav-button:hover, .nav-button a:hover {
  color: #FFFFFF;
}

.nav-search-form {
  /*min-width: 100px;*/
}

.nav-search {
  background-color: #E5E5E5;
  width: 521px;
  height: 26px;
  margin-top: 9px;
  border-radius: 5px;
  border-style: none;
  font-size: 13px;
  text-indent: 6px;
  transition: 0.5s;
}

.nav-search:focus {
  background-color: #FFFFFF;
  transition: 0.3s;
}


/*
.fa-search {
  position:relative;
  right: 25px;
  color:#666666;
}*/

@media screen and (max-width: 800px) {
  .nav-search {width: 300px;}
}
