.user-page {

}
.profile-stats {
  display: flex;
  padding-left: 60px;
  justify-content: space-between;
  padding-right: 56px;
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: url("https://s3-us-west-2.amazonaws.com/pianocloud-adrianjewell/hero.jpg");

}

.picture-and-info {
  display:flex;
  justify-content: flex-start;
}

.profile-pic{
  margin-right: 8px;
  height: 100%;
  width: auto;

}

.picture-frame {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
}

.user-info{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.user-info span {
  color:white;
  background-color: black;
  margin: 2px;

  text-indent: 5px;
  padding-right: 5px;
}

.edit-profile {
  float: right;
}
