.user-page {

}
.profile-stats {
  display: flex;
  margin-left: 60px;
  justify-content: space-between;
  margin-right: 56px;
  padding-top: 25px;
  background-image: url("https://s3-us-west-2.amazonaws.com/pianocloud-adrianjewell/hero.jpg");
  border-radius: 10px;
}

.picture-and-info {
  display:flex;
  justify-content: flex-start;
}

.profile-pic{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: white;
  margin-right: 8px;
}

.user-info{
  display: flex;
  flex-direction: column;
}

.user-info span {
  color:white;
  background-color: black;
  margin: 2px;
  border-radius: 5px;
}

.edit-profile {
  float: right;
}
