.splash {
  text-align: center;
}

.splash img {
  position: relative;
  opacity: 0.55;
  width: 50%;
  border-radius: 7px;
}

.splash h1 {
  position: relative;
  // top: -300px;
}

.splash input {
  background-color: #E5E5E5;
  width: 400px;
  height: 26px;
  margin-top: 9px;
  border-radius: 5px;
  border-style: none;
  font-size: 13px;
  text-indent: 6px;
  transition: 0.5s;
}

.splash input:focus {
  background-color: #FFFFFF;
  transition: 0.3s;
}
