.greeting-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash h1 {
  // position: relative;
  color: white;
  background: #333333;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  // top: -300px;
}

.splash input {
  background-color: #E5E5E5;
  width: 400px;
  height: 26px;
  margin-top: 9px;
  border-radius: 5px;
  border-style: none;
  font-size: 13px;
  text-indent: 6px;
  transition: 0.5s;
}

.splash input:focus {
  background-color: #FFFFFF;
  transition: 0.3s;
}
