.stream {
  display: flex;
  flex-direction: column;
}

.stream h1 {
  text-align: left;
  text-indent: 4%;
}

.stream ul {
  list-style: none;
}

.stream ul li {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.stream ul li div {
  // padding-left: 30px;
}

.stream a {
  text-decoration: none;
  color: black;
  font-family: "Interstate" sans-serif;
  font-size: 18px;
}

.stream span, .stream span a{
  position: relative;
  top: 1px;
  color: #B1B1B1;
}

.stream span:hover, .stream span a:hover {
  color: black;
}

#play-button-small {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #FF6B00;
  color: white;
  border-style: none;
  z-index: 1;
  cursor: pointer;
}


.edit-delete {
  position: relative;
  right: 30px;
}

#information {
  padding-left: 10px;
}

#first-row {
  display: flex;
  position: relative;
  flex-direction: row;
  top: 5px;
}


#artist-and-title {
  position: relative;
  padding-left: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
}

#artist-and-title a {
  position: relative;
  bottom: 7px;
}

#track-item-thumb-nail {
  height: 160px;
  width: 160px;
  overflow: hidden;
}
