.stream h1 {
  text-align: left;
  text-indent: 40px;
}

.stream ul {
  list-style: none;
}

.stream ul li {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.stream a {
  text-decoration: none;
  color: black;
  font-family: "Interstate" sans-serif;
  font-size: 18px;
}

.stream span {
  color: #B1B1B1;
}

.stream span:hover {
  color: black;
}

#play-button-small {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #FF3300;
  color: white;
  border-style: none;
}

.edit-delete {
  position: relative;
  right: 30px;
}


#first-row {
  display: flex;
}

#artist-and-title {
  display: flex;
  flex-direction: column;
}
