
.song-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  align-items: left;
}

.song-info span {
  color: white;
  background-color: black;
  margin-top: 3px;
  text-indent: 5px;
  padding-right: 5px;
}

.song-info span a {
  text-decoration: none;
  color: gray;
}
.song-info span a:hover {
  color: white;
}

.song-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  background: linear-gradient(to right,#7B6653,#2F2622);
}

.stats-waveform {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-bottom: 75px;
}

.song-stats-frame {
  height: 340px;
  width: 340px;
  background: white;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
}

.song-stats-img {
  height: 100%;
  width: auto;
  // max-width: 340px;
}

.song-and-play-button {
  display: flex;
}

.edit-delete {
  padding-left: 30px;
}

.play-button-large {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #FF6B00;
  color: white;
  font-size: 30px;
  border-style: none;
  cursor: pointer;
}

.play-button-large:hover {
  background-color: #FF3300;
}
