<!DOCTYPE html>
<html>
  <head>
    <title>PianoCloud</title>
    <%= csrf_meta_tags %>
    <link rel=“icon” href=“https://s3-us-west-2.amazonaws.com/pianocloud-adrianjewell/favicon.ico“>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
